@page "/"

<div class="jumbotron d-flex align-items-center">
    <div class="container">
        <h1>Welcome to PokEBay!</h1>
        <p>Your one-stop-shop for buying your favorite pokemons.</p>
    </div>
</div>